.navbar {
  display: flex;
  align-items: center;
  background: #21222a;
  height: 90px;
  padding: 30px 25px;
}
.nav-logo {
  width: 30px;
  height: 30px;
  padding-right: 7px;
}
.nav-header {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 22.2535px;
  line-height: 27px;
  letter-spacing: -0.05em;
  color: #61dafb;
  margin-right: auto;
}
.nav-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: right;

  color: #deebf8;
}
.main {
  padding: 80px 27px;
  background-color: #282d35;
  background-image: url("./Images/main-icon.png");
  background-repeat: no-repeat;
  background-position: right center;
}
.header {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 39.06px;
  line-height: 47px;
  letter-spacing: -0.05em;
  height: 41px;
  color: #ffffff;
}
.main-text {
  width: 450px;
  height: 190px;
  left: 74px;
  top: 235px;
  color: #ffffff;
}
.main-text > li {
  line-height: 19px;
  padding-block: 10px;
}
.main-text > li::marker {
  font-size: 1.5rem;
  color: #61dafb;
}
